@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Roboto:wght@300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 0 auto;
  font-family: 'Poppins', 'Roboto', sans-serif;
}
header {
  text-align: center;
  display: flex;
  justify-content: center;
}

header > * {
  padding: 14px;
}
header i {
  font-size: 48px;
  margin-top: 12px;
  color: #04aa6d;
}
header h1 {
  font-size: 48px;
}

header h1 span {
  color: #04aa6d;
}

form {
  width: 100%;
}

form div {
  margin: 8px 0;
}

form input {
  width: 100%;
  padding: 8px;
  outline: none;
}

input[type='text']:focus {
  border: 2px solid #04aa6d;
}

form button {
  width: 100%;
  padding: 8px;
  font-size: 17px;
  font-weight: 400;
  margin: 8px 0;
  background-color: #04aa6d;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  border: 0;
  transition-duration: 0.2s;
}

form button:hover {
  background-color: #24c288;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 40px;
}

table > td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  padding: 4px;
  text-align: left;
  background-color: #04aa6d;
  font-weight: normal;
  color: white;
}
table thead tr th:last-child {
  display: none;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr {
  transition-duration: 0.2s;
}
table tr:hover {
  background-color: #ddd;
}

table tbody tr td:last-child {
  text-align: center;
  padding: 0 8px;
}

.btn-danger {
  text-decoration: none;
  padding: 0 6px;
  background-color: crimson;
  color: white;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: rgb(189, 70, 94);
  outline: 1px solid black;
}
